{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard Enseignant - Online School{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    {% block style %}{% endblock style %}
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Online School</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="{% if request.resolver_match.url_name == 'home_page_enseignant' %}active{% endif %}">
                    <a href="{% url "home_page_enseignant" %}">
                        <i class="fas fa-tachometer-alt"></i>
                        Tableau de bord
                    </a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'cours_enseignant' %}active{% endif %}">
                    <a href="{% url "cours_enseignant" %}">
                        <i class="fas fa-book"></i>
                        Mes cours
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-user-graduate"></i>
                        Mes étudiants
                    </a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'evaluation_enseignant' %}active{% endif %}">
                    <a href="{% url "evaluation_enseignant" %}">
                        <i class="fas fa-clipboard-check"></i>
                        Évaluations
                    </a>
                </li>
                <li>
                    <a href="forums.html">
                        <i class="fas fa-comments"></i>
                        Forums
                    </a>
                </li>
                <li>
                    <a href="profile.html">
                        <i class="fas fa-user-circle"></i>
                        Mon profil
                    </a>
                </li>
            </ul>

            <div class="sidebar-footer">
                <a href="{% url "home_page_enseignant" %}">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </div>
        </nav>

        
                

                

                
           

        {% block content %}

        {% endblock %}

        {% block content_2 %}{% endblock content_2 %}
    </div>
    {% block script %}
    
    {% endblock script %}
</body>

</html>
